.btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    padding: var(--spacing-md) var(--spacing-lg);
    font-family: var(--font-heading);
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.btn:focus {
    outline: none;
}

.btn:focus-visible {
    outline: 3px solid var(--color-accent);
    outline-offset: 4px;
}

.btn--primary {
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.15);
    background-color: var(--color-accent);
    color: var(--color-background);
}

.btn--primary:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px transparent;
}

.btn--secondary {
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn--secondary:hover {
    color: var(--color-background);
}

.btn--secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-carbs);
    z-index: -1;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.btn--secondary:hover::before {
    transform: scale(1);
}
