/* Pasek kontenera na przyciski */
.filters{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.filters__search{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 var(--spacing-md)
}

.filters__input{
    max-width: 100px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
}

.filters__input:focus{
    border: 2px solid var(--color-accent);
}

.filters__input[type="number"]::-webkit-outer-spin-button,
.filters__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filters__categories {
    display: flex;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
    overflow-x: auto;
    padding-bottom: 4px;

    scrollbar-width: none;
}

.filters__categories::-webkit-scrollbar {
    display: none;
}

.filter-btn {
    background-color: var(--color-surface);
    color: var(--color-text-secondary);
    border: 1px solid var(--color-border);
    border-radius: 24px;
    padding: 8px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.filter-btn:hover {
    border-color: var(--color-primary);
    color: var(--color-text-primary);
}

.filter-btn.is-active {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-color: var(--color-primary);
    font-weight: 700;
}
